@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');
@import "../../../Resources/Mobile/mobile";

@mixin ancorFont{
    text-decoration: none;
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
}

$imageSize: 200px;
$smImageSize: 40px;

nav{
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    align-items:center;
    width: 100vw;
    padding: 0 4rem;
    //background-color: #d2dae2;

    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    ul{
        list-style: none;
        li{
            display: inline-block;
            a {
                @include ancorFont;
                margin-right: 1.2rem;
                display: block;
                padding: 1rem 0;
                color: whitesmoke;
                transition: color 0.6s ease;
                &:hover{
                    color: #00c169;
                }

                @include media('<mobile') {
                    margin-right: 0 !important;
                    margin-bottom: 1rem;
                    pointer-events: none;
                }
            }
        }

        @include media('<mobile') {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    .name_image_holder{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //top: 2.5%;
        top: 1000%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 10;
        transition: top 0.6s ease;
        gap: 1rem;

        img{
            width: $imageSize;
            height: $imageSize;
            border: 4px solid white;
            border-radius: 50%;
            outline: none;
            background-color: green;
            transition: width 0.6s ease,
            height 0.6s ease,
            border 0.6s ease;
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        span{
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            font-weight: bold;
            transition: font-size 0.6s ease,
            color 0.6s ease;
        }

        span:nth-child(1){
            color: gold;
        }

        @include media('<mobile') {
            display: none !important;
        }
    }

    .name_image_holder_top{
        flex-direction: row;
        gap: 1rem;
        top: 50%;
        //margin-top: 0.5rem;

        img{
            width: $smImageSize;
            height: $smImageSize;
            border: 2px solid white;
        }

        span{
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: bold;
        }

        span:nth-child(1){
            color: whitesmoke;
        }

    }

    .github{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 2rem;
        border: 2px solid whitesmoke;
        border-radius: 50px;
        background-color: #2f2f2f;
        color: whitesmoke;
        transition: border 0.6s ease,
                    background-color 0.6s ease,
                    color 0.6s ease;

        &:hover{
            color: #2f2f2f;
            background-color: whitesmoke;
            border-color: #2f2f2f;
        }

        @include media('<mobile') {
            margin-top: 1rem;
            pointer-events: none;
        }
    }



    @include media('<mobile') {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        //left: -100vw;
    }

}
